$qatar: #8D1B3D;
$base:#8a1539;
$oro: #ffd700;
$oro-1: rgba(255, 217, 0, 0.404);
$oro-2: #baa256 ;
$bordo:rgb(92, 0, 0);
$azul:#020f2a;
$gris:#505050;
$gris-oscuro:#303030;
$gris-dark:#121212;
$gris-claro: #909090;
$celeste:#00c6ae;



