$qatar: #8D1B3D;
$base:#8a1539;
$oro: #ffd700;
$oro-1: #ffd90067;
$oro-2: #baa256;
$bordo:rgb(92, 0, 0);
$azul:#020f2a;
$azul-oscuro: #020c22 ;
$gris:#505050;
$gris-oscuro:#303030;
$gris-dark:#121212;
$gris-claro: #909090;
$celeste:#00c6ae;
$azul-claro:#07132c;



