footer{
    background-color: $azul;
}
.fifa-socios{
    @include flexible(flex, row, wrap, space-evenly, center);
    padding: 20px 0;
    background-color: $oro-2;
    img{
        max-width: 10%;
    }
}

.footer{
    img{
        width: 30%;
    }
    padding: 5% 0;
    background: $azul;
    @include flexible(flex, row, nowrap, space-evenly, center);
    .footer-section{
        width: 30%;
        @include flexible(flex, column, nowrap, space-between, center);
        flex-direction: column;
        h3{
            font-size: 2rem;
            font-weight: 900;
            color: $oro-2;
        }
        a{
            font-size: 1.5rem;
            color: $oro-2;
            text-decoration: none;
            transition: 1s all;
            &:hover{
                color: white;
            }
        }
        img{
            background-color: #000;
            width: 10px;
        }
    }
}
