@media (max-width:768px){




    .index-estadio{
        background-image: url(https://images.adsttc.com/media/images/61d2/b175/3e4b/3194/cc00/00d1/slideshow/Lusail_Stadium_AFL_Architects_1.jpg?1641197935) !important;
        background-size: 100%;
        background-repeat: no-repeat;
        //height: 100vh !important;
        div{
            width: 70% !important;
            background-color: #000;
            padding: 1em .5em !important;
            h2{
                font-size: 1em !important;
                a{
                    font-size: 1.2em !important;
                }
            }
            button{
                font-size: 1.5em !important;
            }
        }
    }
    #exp{
        .separator-2{
            margin: 1em 0;
        }
    }
    .des-doha{
        flex-direction: column;
        height: auto;
        padding: 0;
        button{
            margin: 3em 0;
        }
    }
    .banner-exp{
        flex-flow: column wrap;
        .exp-b-img-p {
            
            width: 100%;
        }
        .exp-b-img-cu {
            
            width: 100%;
        }
        .exp-b-img-co {
            
            width: 100%;
        }
        .pat-info{
            width: 100%;
            p{
                margin-bottom: 30px;
            }
        }
    }
    .exp-pat-top{
        background-position: 10% 70%;
        h1{
            margin: 0;
        }
    }
    .pat-banner-text{
        padding: 30px 0;
        height: 55vh;
        h2{
            font-size: 2.5rem;
            width: 80%;
        }
    }
    .pat-banner-img{
        flex-direction: column;
        div{
            width: 100%;
        }
    }
    .est-start {
        justify-content: flex-end;
        h1 {
            font-size: 5rem
        }

        p {
            font-size: 2rem;
            width: 80%;
        }
    }
    .est-match{
        .est-match-title{
            img{
                width: 70%;
            }
        }
        .est-match-info{
            .partido{
                flex-direction: column;
                .match-div{
                    width: 90%;
                }
                
            }
        }
       
    }
    .stadiums-top{
        h1{
            font-size: 3rem;
        }
    }
    .btn-letra-grupos{
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: 3% 0;
        a{
            width: 70%;
            margin: 1% 0;
        }
    }
    .separator-diamond{
        div{
            margin: 0 .5em;
        }
    }
    .calendario{
        background-color: #000;
        .calendario_box{
            background: #000;
            width: 100%;
        }
    }

    
    




}
@media screen and (max-width:991px){
    .naav{
        background: $azul;
        justify-content: center;
        
        .container{
            a{
                img{
                    width: 200px;
                }
            }
            .icon{
                filter: invert(1);
            }
            .cont{
                background-color: $azul;
                margin: 0;
                li{
                    background-color: aqua;
                    border: 0.5px solid white;
                    margin: 1.5em;
                    a{
                        margin: 0;
                        background-color: $azul;
                        clip-path: none;
                        font-size: 2em;
                        width: 100%;
                        transition: .5s all;
                        &:hover{
                            background-color: $oro-2;
                            color: black;
                        }
                    }
                }
            }
        }
    }

    #header{
        background-color: #000000c0;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 1em !important;
        .nav-img-responsive{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
                img{
                    width: 100px;
                }
            }
            .btn-nav-menu{
                display: flex;
                cursor: pointer;
                font-size: 3em;
            }
        }
        .nav-menu{
            display: none;
            width: 100%;
            align-items: center;
            justify-content: center;
            height: 50vh;
            .nav-menu-list{
                flex-direction: column;                
                padding: 1em 0;
                width: 100%;
                gap: 1em;
                li{
                    background: #000;
                    width: 90%;
                    padding: .5em 0;
                    border: 2px solid $oro-2;
                    a{
                        width: 100%;
                        height: auto;
                        clip-path: none !important;
                        background: none;
                        
                    }
                }
            }
        }
    }
    .visible{
        display: flex !important;
        visibility: visible;
    }

    


    .div-est{
        .stadiums-main{
            flex-flow: column-reverse nowrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            background: $azul;
            .stadiums-main-info{
                background: $azul-oscuro;
                width: 100%;
                padding: 50px 0;
                .part{
                    height: 40%;
                }
                .btn-est{
                    height: 70px;
                }
            }
        }
        img{
            max-width: 100%;
        }
    }
    .est-history {
        flex-direction: column;
        height: auto;
        
        .h-img{
            width: 100%;
        }
        .h-info{
            width: 100%;
            padding: 5%;
        }
    }
    .div-grupo{
        .div-grupo-1{
            flex-direction: column;
            .div-grupo-main{
                margin: 0;
                width: 100%;
                .first{
                    flex-direction: column-reverse;
                    img{
                        width: 100%;
                    }
                    p{
                        width: 100%;
                        padding: 2%;
                    }
                }
                .two{
                    flex-direction: column;
                }
                .historial-team{
                    .historial-team-div{
                        div{
                            font-size: 1.3rem;
                        }
                    }
                }
            }
            .info-team{
                width: 100%;
                .fixture{
                    .fixture-info{
                        height: 40vh;
                        div{
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
    .std{ 
        .std-title{
          flex-direction: column;  
          gap: 1em;
          img{
            padding: 0 !important;             
          }
          h4{
            padding: 0 !important;                 
          }
        }
        #index-estadios{
            a{
                width: 20em !important;
                height: 12em !important;
            }
        }
          
    }
    
    
}


@media (max-width:576px) {
   .naav{
    .container{
        a{
            img{
                width: 150px;
            }
        }
    }
   } 



   #main-index{
    .group-text{
        h3{
            font-size: 3em;
        }
        p{
            font-size: 1.2em;
        }
    }
    .fixture{
        padding: 5em 1em;
        .grupos{
            width: 100%;
            margin: 2em 0;
            p{
                font-size: 2em;
            }
            .equipos{
                width: 90%;
                img{
                    max-width: 40px;
                    max-height: 40px;
                }
                a{
                    font-size: 1.5em;
                }
            }
        }
    }
    .std{
        #index-estadios{
            display: flex;
            flex-direction: column;
            align-items: center;
            a{
                width: 90% !important;
                height: 15em !important;
                margin:  2em 0;
                background-position: center !important;
                p{
                    font-size: 1.3em !important;
                }
            }
        }
    }
   }


   
    .footer{
        padding: 2%;
        flex-direction: column;
        .footer-section{
            width: 100%;
            margin: 10px 0;
        }
        img{
            width: 50%;
        }
        
    }
    .exp-com-top{
        h1{
            font-size: 4rem;
        }
    }

    
    

    
}