@media (max-width:768px){




    .index-estadio{
        //background-image: url("https://depor.com/resizer/2gv7UEcATFdPq30Jljj2Nr3Pe_Y=/980x0/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/NXHF75ZRYVGPTP4VADMS2F3D6A.jpg") !important;
        background-image: url(https://dobleamarilla-assets.tadevel-cdn.com/5c169835e03cbb22729c68fc/720.webp) !important;
        background-position: 53% 0% !important;
        //height: 100vh !important;
        align-items: start !important;
        div{
            margin-top: 20vh ;
            width: 70% !important;
            background-color: #00000005 !important;
            padding: 1em .5em !important;
            box-shadow: none !important;
            backdrop-filter: blur(5px) !important;
            h2{
                font-size: 1em !important;
                color: $gris-dark !important;
                a{
                    font-size: 1.2em !important;
                }
            }
            button{
                border: 1px solid $gris-dark !important;
                color: $gris-dark !important;
                font-size: 1.5em !important;
            }
        }
    }
    #exp{
        .des-doha{
            flex-direction: column;
            height: auto;
            padding: 0;
            font-size: .7em;
            button{
                margin: 3em 0;
            }
            
        }
        .des-exp{
            flex-direction: column;
            height: auto;
            padding: 0;
            font-size: .7em;
            button{
                margin: 3em 0;
            }
        }
        .banner-exp{
            flex-flow: column wrap;
            .exp-b-img-p {
                
                width: 100%;
            }
            .exp-b-img-cu {
                
                width: 100%;
            }
            .exp-b-img-co {
                
                width: 100%;
            }
            .pat-info{
                width: 100%;
                p{
                    margin-bottom: 30px;
                }
            }
        }
        .exp-pat-top{
            background-position: 20% 100%;
            background-size: cover !important;
            h1{
                margin: 0;
                font-size: 4em;
            }
        }
        .exp-cul-top{
            background-position: 30% 100%;
            background-size: cover !important;
            h1{
                margin: 0;
                font-size: 4em;
            }
        }
        .exp-com-top{
            background-position: 50% 100%;
            background-size: cover !important;
            h1{
                margin: 0;
                font-size: 4em;
            }
        }

        //BANNER 
        .pat-banner-text{
            padding: 3em 0;
            .separator-gold{
                width: 90%;
            }
            h2{
                font-size: 2.5rem;
                width: 90%;
            }
            p{
                font-size: 1.4em;
                width: 90%;
                padding: .5em 0;;
            }
        }
        .pat-banner-img{
            flex-direction: column;
            div{
                width: 100%;
            }
        }
        //-------->
        .des-doha-exp{
            font-size: .7em;
            padding: 2em 0;
        }



        .separator-exp{
            display: flex !important;
        }
        .pat-info{
            p{
                font-size: 1.1em;
            }
            button{
                font-size: .8em;
            }
        }
        
    }
    
    #pag-estadios{
        .est-start {
        justify-content: flex-end;
        h1 {
            font-size: 3.5rem
        }

        p {
            font-size: 2rem;
            width: 80%;
        }
    }
      .est-match{
        .est-match-title{
            img{
                width: 70%;
            }
        }
        .est-match-info{
            .partido{
                flex-direction: column;
                .match-div{
                    width: 90%;
                }
                
            }
        }
       
    }
    .est-history-title{
        display: none;
    }  
    }
    
    
    
    .btn-letra-grupos{
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: 3% 0;
        a{
            width: 70%;
            margin: 1% 0;
        }
    }
    .separator-diamond{
        div{
            margin: 0 .5em;
        }
    }
    .calendario{
        background-color: #000;
        .calendario_box{
            background: #000;
            width: 100%;
        }
    }

    
    




}
@media screen and (max-width:991px){
    .naav{
        background: $azul;
        justify-content: center;
        
        .container{
            a{
                img{
                    width: 200px;
                }
            }
            .icon{
                filter: invert(1);
            }
            .cont{
                background-color: $azul;
                margin: 0;
                li{
                    background-color: aqua;
                    border: 0.5px solid white;
                    margin: 1.5em;
                    a{
                        margin: 0;
                        background-color: $azul;
                        clip-path: none;
                        font-size: 2em;
                        width: 100%;
                        transition: .5s all;
                        &:hover{
                            background-color: $oro-2;
                            color: black;
                        }
                    }
                }
            }
        }
    }

    #header{
        background-color: #000000c0;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 1em !important;
        .nav-img-responsive{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
                img{
                    width: 100px;
                }
            }
            .btn-nav-menu{
                display: flex;
                cursor: pointer;
                font-size: 3em;
            }
        }
        .nav-menu{
            display: none;
            width: 100%;
            align-items: center;
            justify-content: center;
            height: 50vh;
            .nav-menu-list{
                flex-direction: column;                
                padding: 1em 0;
                width: 100%;
                gap: 1em;
                li{
                    background: #000;
                    width: 90%;
                    padding: .5em 0;
                    border: 2px solid $oro-2;
                    a{
                        width: 100%;
                        height: auto;
                        clip-path: none !important;
                        background: none;
                        
                    }
                }
            }
        }
    }
    .visible{
        display: flex !important;
        visibility: visible;
    }

    #exp{
        .video{
            overflow: hidden;
            video{
                width: 200%;
                object-fit: fill;
                height: 100vh !important;
            }
        }
    }

    #Stadium{
        .stadiums{
            .stadiums-top{
            
                h1{
                    text-align: center;
                    font-size: 4em;
                    width: 90%;
                }
                div{
                    background-color: #000;
                    p{
                        color: white;
                        font-size: 1.3em;
                    }
                }
            }
            .box{
                height: 10vh;
                .lines{
                    display: none;

                    opacity: 0;
                    visibility: hidden;
                }
            }
        }


        .div-est{
            .stadiums-main{
                flex-flow: column-reverse nowrap;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                background: $gris-dark;
                padding: 5% 10% ;
                .stadiums-main-info{
                    //background: $gris-dark;
                    width: 100%;
                    padding: 3em 0;
                    .part{
                        height: 40%;
                    }
                    .btn-est{
                        height: 70px;
                    }
                }
            }
            img{
                max-width: 100% !important;
            }
        }
       
    }

    #pag-estadios{
      .est-history {
        flex-direction: column;
        height: auto;
        
        .h-img{
            width: 100%;
        }
        .h-info{
            width: 100%;
            padding: 5%;
        }
    }  
    }
    
    .div-grupo{
        .div-grupo-1{
            flex-direction: column;
            .div-grupo-main{
                margin: 0;
                width: 100%;
                .first{
                    flex-direction: column-reverse;
                    img{
                        width: 100%;
                    }
                    p{
                        width: 100%;
                        padding: 2%;
                    }
                }
                .two{
                    flex-direction: column;
                }
                .historial-team{
                    .historial-team-div{
                        div{
                            font-size: 1.3rem;
                        }
                    }
                }
            }
            .info-team{
                width: 100%;
                .fixture{
                    .fixture-info{
                        height: 40vh;
                        div{
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
    .std{ 
        .std-title{
          flex-direction: column;  
          gap: 1em;
          img{
            padding: 0 !important;             
          }
          h4{
            padding: 0 !important;                 
          }
        }
        #index-estadios{
            a{
                width: 20em !important;
                height: 12em !important;
            }
        }
          
    }
    
    footer{
        .fifa-socios{
            img{
                max-width: 12%;
            }
        }
        .footer{
            padding: 5em 0;
            flex-direction: column;
            align-items: center;
            gap: 5em;
            .footer-section{
                width: 100%;
                margin: 10px 0;
            }
            img{
                width: 15em;
            }
            .footer-section{
                h3{
                    font-size: 1.8em;
                }
                a{
                    font-size: 1.2em;
                }
            }
        }
    }
    
    
}


@media (max-width:576px) {
   .naav{
    .container{
        a{
            img{
                width: 150px;
            }
        }
    }
   } 



   #main-index{
    .group-text{
        h3{
            font-size: 3em;
        }
        p{
            font-size: 1.2em;
        }
    }
    .fixture{
        padding: 5em 1em;
        .grupos{
            width: 100%;
            margin: 2em 0;
            p{
                font-size: 2em;
            }
            .equipos{
                width: 90%;
                img{
                    max-width: 40px;
                    max-height: 40px;
                }
                a{
                    font-size: 1.5em;
                }
            }
        }
    }
    .std{
        #index-estadios{
            display: flex;
            flex-direction: column;
            align-items: center;
            a{
                width: 90% !important;
                height: 15em !important;
                margin:  2em 0;
                background-position: center !important;
                p{
                    font-size: 1.3em !important;
                }
            }
        }
    }
   }



   #exp{
    .pat-info{
        align-items: start;
    }
   }


   
    
    .exp-com-top{
        h1{
            font-size: 4rem;
        }
    }

    


    #Stadium{
        .stadiums{
            .stadiums-top{
            
                h1{
                    font-size: 2em;
                }
            }
        }
       
        .div-est{
            .stadiums-main{
                padding: 3em 4%;
                .stadiums-main-info{
                    background: $gris-dark;
                    padding: 1em 0 0 0;
                    .part-tittle{
                        color: #fff;
                    }
                    h3{
                        font-size: 2em;
                    }
                    .separator{
                        margin: .5em 0;
                    }
                    .btn-est{
                        background: $base;
                        clip-path: none;
                        padding: 1em 4em;
                        width: auto;
                        height: auto;
                        font-size: 1.5em;
                    }
                    
                }
            }

        }
    }

    #pag-estadios{
      .est-info{
        .est-ficha{
            width: 80%;
            h2{
              font-size: 2.5em !important;  
            }
            h3{
                font-size: 1.6em;
            }
            
        }
    }
    .est-match{
        .est-match-info{
            .partido{
                span{
                    font-size: .8em !important;
                }
                p{
                    font-size: .7em !important;
                }
            }
        }
    }  
    .est-history{
        .h-info{
            span{
                font-size: 2em !important;
            }
            
        }
    }
    }

    
    
    

    
}