@import "reset";
@import "colores";
@import "var";
@import "header_nav";
@import "main_index";
@import "footer";
@import "experience";
@import "estadios";
@import "grupos";
@import "calendario";
@import "media_queries";















.btn-nav {
    height: 50px;
    color: #e6e6e6;
    width: 150px;
    background: $oro-2;
    clip-path: polygon(50% 0%, 90% 10%, 100% 60%, 90% 100%, 10% 100%, 0% 60%, 10% 10%);
}

.dropdown-item:hover {
    color: #e6e6e6;
    background-color: $oro-2;
}











.historia {
    background-color: white;

    height: 80vh;
}




